<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/deposito.css">
    <script src="/js/depositoService.js"></script>
    <script src="/js/deposito.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <title>Depósito</title>
</head>

<body>
    <div class="container">
        <div class="card-special">

            <header class="header">
                <img src="/img/turing-logo.png" alt="banco Turing" />

                <span>DEPOSITE EM UMA CONTA</span>
                <br> <br>
                <p>Lembre-se que a conta precisa existir!</p>
            </header>

            <div class="form">
                <div class="inputContainer">
                    <label htmlFor="Número da conta">NÚMERO DA CONTA</label>
                    <input class="input" type="number" id="accountNumber" placeholder="0000" />
                    <div class="my-alert-text" id="alert-text">Usuário ou senha inválidos</div>
                </div>

                <div class="inputContainer">
                    <label htmlFor="value">VALOR</label>
                    <input class="input" id="value" type="text" step="0.01" min="0.01" placeholder="R$ 0,00" />
                </div>
                <button class="button" onclick="depositCheckData()">DEPOSITAR</button>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modalConfirmDeposit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação de depósito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 7px;">

                        <span id="name-account-modal"></span>
                    </div>

                    <div style="margin-bottom: 7px;">

                        <span id="number-account-modal"></span>
                    </div>
                    <div>

                        <span id="value-deposit-modal"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" onclick="deposito()" data-bs-dismiss="modal" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDepositFinalize" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Mensagem!</h1>
                    <button type="button" onclick="redirectSelf()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-finalyze-message">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="redirectSelf()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>