<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/deposito.css">

    <script type="module" src="/js/dom/deposito.js"></script>


    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">


    <title>Depósito</title>
</head>

<body>
    <div class="container">
        <div class="card-special">

            <header class="header">
                <img src="/img/turing-logo.png" alt="banco Turing" />

                <span>DEPOSITE EM UMA CONTA</span>
                <br> <br>
                <p>Lembre-se que a conta precisa existir!</p>
            </header>

            <div class="form">
                <div class="inputContainer">
                    <label htmlFor="Número da conta">NÚMERO DA CONTA</label>
                    <input class="input" type="number" id="accountNumber" placeholder="0000" />
                    <div class="my-alert-text" id="alert-text">Usuário ou senha inválidos</div>
                </div>

                <div class="inputContainer">
                    <label htmlFor="value">VALOR</label>
                    <input class="input" id="value" type="text" step="0.01" min="0.01" placeholder="R$ 0,00" />
                </div>
                <button class="button" id="deposit-check-data">DEPOSITAR</button>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modalConfirmDeposit" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação de depósito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 7px;">

                        <span id="name-account-modal"></span>
                    </div>

                    <div style="margin-bottom: 7px;">

                        <span id="number-account-modal"></span>
                    </div>
                    <div>

                        <span id="value-deposit-modal"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" id="btn-deposito" data-bs-dismiss="modal"
                        class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDepositFinalize" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Mensagem!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-finalyze-message">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                </div>
            </div>
        </div>
    </div>

    <script src="bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>

</body>

</html>