<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <link rel="stylesheet" href="css/viewHistory.css">

    <div class="container-buttons-view-history">
        <button class="button" id="btn1">Enviadas</button>
        <button class="button" id="btn2">Recebidas</button>
        <button class="button" id="btn3">Depositos</button>
        <div class="range-view-history"></div>
    </div>
    <div class="content-view-history">
        <input type="radio" name="btn" id="input-btn1" checked>
        <input type="radio" name="btn" id="input-btn2">
        <input type="radio" name="btn" id="input-btn3">
        <div class="views" id="view1">
            <div>
                <h1>tela 1</h1>
                <nav>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus a dignissimos
                    distinctio asperiores, in odio corporis harum explicabo non eligendi, reprehenderit repellat
                    earum
                    hic
                    voluptatum aut debitis rem? Eveniet, ullam?
                </nav>

            </div>
        </div>
        <div class="views" id="view2">
            <div>
                <h1>tela 2</h1>
                <span>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere
                    cupiditate nemo modi veritatis. At, vitae exercitationem error harum quis commodi iste est
                    dicta,
                    expedita eveniet esse alias quisquam similique.
                </span>
            </div>
        </div>
        <div class="views" id="view3">
            <div>
                <h1>tela 3</h1>
                <span>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa reiciendis
                    nostrum eos totam expedita voluptas tempora distinctio molestias corrupti ipsa? Neque earum,
                    incidunt
                    laboriosam deleniti omnis nesciunt dicta sequi molestiae?
                </span>
            </div>
        </div>
    </div>
    
</body>

</html>