<!doctype html>
<html lang="en" data-critters-container>
<head>
  <meta charset="utf-8">
  <title>TuringBankFront</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<style>*{font-family:Geologica,sans-serif}body{margin:0;padding:0;height:100dvh;width:100dvw;display:flex;align-items:center;justify-content:center}</style><link rel="stylesheet" href="styles.d31410ba74f516fa.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.d31410ba74f516fa.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.12fb288ecb178bb0.js" type="module"></script><script src="polyfills.6942498ba301f1e8.js" type="module"></script><script src="main.d5b4fbc30bec3e90.js" type="module"></script></body>
</html>
